#form-lienhe {
    width: 590px;
}

#form-lienhe>h2 {
    margin-left: 30px;
}

.btn-right-form {
    text-align: right;
}

.btn-right-form>button {
    padding: 10px 25px;
    border: 1px solid #198e1e;
    background-color: #198e1e;
    color: white;
    font-size: 16px;
}

.btn-right-form>button:hover {
    cursor: pointer;
}  

